@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin,latin-ext);

/* COLORS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 16px/2em "Lato", sans-serif;
  color: #454545;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 90vw;
  max-width: 1280px;
  padding: 0 20px;
}

p {
  margin-bottom: 1em;
}

ul,
ol {
  margin-bottom: 1em;
  padding-left: 1.5em;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

a {
  color: #d62872;
}

a:hover {
  color: #a90048;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

blockquote {
  border-left: 0.5em solid #f4f4f4;
  padding-left: 1em;
}

hr {
  border: 1px solid #f4f4f4;
  margin: 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2rem;
  line-height: 1.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5,
h6 {
  font-size: 1em;
}