@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin,latin-ext);

$font: 'Lato', sans-serif;

$lineMargin: 1em;


$gutter: 20px;
$containerWidth: 90vw;
$containerMaxWidth: 1280px;